#login,
#cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#alterna {
    text-align: center;
    margin-bottom: 5%;
}

#link-alterna {
    font-weight: bold;
}

#link-alterna:hover {
    cursor: pointer;
}

.campo-inativo {
    display: none !important;
}

/*VERIFICACAO*//*VERIFICACAO*//*VERIFICACAO*/

