#login,
#cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login form,
#cadastro form {
    width: 35%;
}

.input-identificacao,
.dados {
    background-color: #c9c9c9;

    border-radius: 20px;
    padding: 2.5%;
    margin: 10% 0;
}

.enviar-identificacao {
    padding: 1.5%;
    width: 25%;
}

.enviar-identificacao:hover,
input:hover {
    cursor: pointer;
}

.enviar-identificacao,
.enviar-identificacao input {
    background-color: #f2f2f2;
}

#alterna {
    text-align: center;
    margin-bottom: 5%;
}

#link-alterna {
    font-weight: bold;
}

#link-alterna:hover {
    cursor: pointer;
}

.campo-inativo {
    display: none !important;
}