#login,
#cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#alterna {
    text-align: center;
    margin-bottom: 10px;
}

#link-alterna {
    font-weight: bold;
}

#link-alterna:hover {
    cursor: pointer;
}

.campo-inativo {
    display: none !important;
}

#esqueceu-senha {
    text-align: center;
    font-size: 12.5px;
    padding: 15px;
    text-decoration: underline;
}

#esqueceu-senha:hover {
    color: #007bff;
    cursor: pointer;
}

/*VERIFICACAO*//*VERIFICACAO*//*VERIFICACAO*/

