* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


body {
    background-color: #e4e4e5;
    color: #222;
}

header {
    background-color: #013b6d;
    color: rgb(255, 255, 255);
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid black;
}

header h1 {
    font-size: 22px;
    letter-spacing: 1px;
}

main {
    padding: 30px;
}

nav a,
.login-menu a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 10px;
    font-weight: 500;
}

nav a.active,
nav a:hover,
.login-menu a.active,
.login-menu a:hover {
    text-decoration: underline;
}

input {
    width: 100%;
    background-color: #c9c9c9;
    font-size: medium;
    border: 0;
    outline: 0;
}

input[type="checkbox"] {
    max-width: 1em;
}

input:hover {
    cursor: pointer;
}

li {
    list-style-type: none;
}

h2 {
    margin-bottom: 1em;
}

.dashboard {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 280px;
}

#card-selecao {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.formulario {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 25vw;
}

.form-autenticacao {
    min-width: 25vw;
}

.formulario label {
    display: block;
    margin-top: 10px;
    font-weight: 500;
}

.formulario input,
.formulario select,
.formulario textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

.checkbox-container {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em 0;
}

.dados {
    background-color: #c9c9c9;

    border-radius: 20px;
    padding: 2.5%;
    margin: 10% 0;
}

button {
    background-color: #0066cc;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    margin-top: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #004b99;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

table th,
table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

.notificacoes li {
    background: white;
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    list-style-type: none;
}

#logotipo {
    height: 6em;
}

.login-menu,
.hamburger-menu {
    display: flex;
    align-items: center;
    gap: 10px;
}

#hamburger-btn {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    margin: 0 auto;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 50px;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.mensagem-card {
    position: absolute;
    top: -5vw;
    left: 0;
    right: 0;

    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    width: 35vw;
    margin: 0 auto;
    padding: 1em;
    border-radius: 10px;

    transition: 0.5s ease-out;
}

.show {
    display: block !important;
}

.div-sucesso {
    background-color: #1a75b7;
    color: white;
    padding: 40px 60px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.div-sucesso h1{
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 10px;
}
.div-sucesso h2{
    font-size: 1.2em;
    margin-bottom: 0;
}

.div-retorno {
    text-align: center;
    background-color: #007bff;
}

#secao-geral{
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-perfil{
    display: flex;
    gap: 30px;
    padding: 30px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}

.formulario {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 400px;

    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
}
